<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Projects</th>
      <th>Uninvoiced hours</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.uninvoiced_hours %></td>
      </tr>
      <% project.tasks.each do |task| %>
        <tr>
          <td class="pl-4"><%= task.name %></td>
          <td><%= task.hours %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
